In [12]:
import xarray as xr
import os

In [8]:
!cd ./
!pwd

/Users/halimjun/Coding_local/wpf_colla_v2/src/preprocessing

In [13]:

for files in os.listdir('../../data/processed/spi/05_spi_final/'):
    if files.endswith('.nc'):
        nc_file_path = '../../data/processed/spi/05_spi_final/' + files
        ds = xr.open_dataset(nc_file_path)
        
        print("Converting to DataFrame...")
        df = ds.to_dataframe()
        df = df.reset_index()
        if not os.path.exists('../../data/processed/spi/06_spi_csv/'): os.makedirs('../../data/processed/spi/06_spi_csv/')
        df.to_csv('../../data/processed/spi/06_spi_csv/' + files.replace('.nc', '.csv'))

Converting to DataFrame...
Converting to DataFrame...
Converting to DataFrame...
Converting to DataFrame...
Converting to DataFrame...
Converting to DataFrame...
Converting to DataFrame...
Converting to DataFrame...

In [10]:
df

                 lat        lon       time  spi_gamma_1_month
0         -14.975002  25.024994 1991-01-01           0.434119
1         -14.975002  25.024994 1991-02-01           0.088979
2         -14.975002  25.024994 1991-03-01          -0.464338
3         -14.975002  25.024994 1991-04-01          -1.116578
4         -14.975002  25.024994 1991-05-01           0.031864
...              ...        ...        ...                ...
163036795  21.974998  51.974991 2024-08-01           0.711524
163036796  21.974998  51.974991 2024-09-01           0.246615
163036797  21.974998  51.974991 2024-10-01           2.358538
163036798  21.974998  51.974991 2024-11-01          -0.250662
163036799  21.974998  51.974991 2024-12-01           0.032645

[163036800 rows x 4 columns]